.cart_header > h1 {
  text-align: center;
  font-size: var(--font-size-subheading-desktop);
  font-family: var(--font-family-brooklyn);
  padding: 10px 0 5px 0;
}

.cart_header > p {
  text-align: center;
  font-size: var(--font-size-body-desktop);
  font-family: var(--font-family-brooklyn);
  padding: 5px 0 10px 0;
}

.cart_no_products {
  padding-top: 30px;
  text-align: center;
}
